.catalog {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    list-style-type: none;
    gap: 30px;
    padding: 0 0 0 20px;
    width: 1200px;
    margin: 0 0 50px;
}

.catalog-card {
    display: flex;
    flex-direction: column;
    width: 380px;
    background: #28292D;
    box-shadow: 0px 10px 40px 0px #00000033;
    height: 100%;
    min-height: 640px;
    padding: 20px;
    border-radius: 12px;
}

.catalog__item {
    height: 656px;
}

.catalog-card__img {
    width: 100%;
    border-radius: 12px;
    margin: 0 0 30px 0;
}

.catalog-card__name {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #FFFFFF;
    display: block;
}

.catalog-card__brend {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0 0 15px 0;
}

.catalog-card__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF80;
    margin: 15px 0 35px 0;
}

.catalog-card__price {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #d87093;
    margin: 0 0 20px 0;
}

.catalog-card__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0 20px 0;
}

.catalog-card__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 14px 2px;
    border: 2px solid #d87093;
    width: 170px;
    text-align: center;
    border-radius: 8px;
}

.catalog-card__link--secondary {
    background: #d87093;
    color: #1F2023;
}

.catalog-card__delivery {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF80;
}