.info-cards {
    width: 1440px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 30px;
}

.info-card {
    border: 2px solid #d87093;
    border-radius: 20px;
    width: calc(380px - 30px);
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.info-card__inner {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.info-card__img {
    border-radius: 200px;
    box-shadow: 2px 2px 20px 0px #26AA9A66;
}

.info-card__infoinfo {
    display: block;
    padding: 11px 0 0 0;
    margin: 0 0 25px;
}

.info-card__title {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    display: block;
    margin: 0 0 5px;
}

.info-card__date {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF80;
}

.info-card__text {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0 0 40px;
}

.info-card__product {
    margin: auto 0 0;
}

.info-card__name {
    color: #FFFFFF80;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    display: block;
}

.info-card__brend {
    color: #FFFFFF80;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    width: 300px;
    display: block;
    margin: 0 0 15px;
}

.info-card__link {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #1F2023;
    background: #d87093;
    text-align: center;
    padding: 14px 2px;
    border-radius: 8px;
    width: 100%;
    margin: auto 0;
}

.info-card--accent .info-card__link {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background-color: unset;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 2px;
    border-radius: 8px;
    width: 100%;
    border: 2px solid #d87093;
}