.product-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    width: 1200px;
}

.product-card {
    display: flex;
    flex-direction: row;
    background: #28292D;
    margin: 0 0 20px;
    padding: 10px 90px 10px 10px;
    box-shadow: 0px 10px 40px 0px #00000033;
    border-radius: 12px;
}

.product-card__img {
    border-radius: 12px;
}

.product-card__inner {
    background: #d87093;
    width: 540px;
    border-radius: 12px;
    padding: 30px 40px 80px;
    margin: 0 50px;
}

.product-card__name {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #FFFFFF;
    display: block;
}

.product-card__brend {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0 0 15px;
}

.product-card__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF80;
    width: 460px;
}

.product-card__price {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #d87093;
    display: block;
    width: 173px;
    margin: 30px 83px 20px 23px;
}

.product-card__links {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding: 0 60px 0 0;
    margin: 0 100px 0 0;
}

.product-card__link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 12px 2px;
    border: 2px solid #d87093;
    display: block;
    width: 170px;
    margin: 0 auto 15px;
    text-align: center;
    border-radius: 8px;
    color: #FFFFFF;
}

.product-card__link--secondary {
    background: #d87093;
    color: #1F2023;
}

.product-card__delivery {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF80;
    margin: 0 0 0 30px;
}

.product-card--two .product-card__delivery {
    margin: 0 15px 0 0;
}

.product-card--three .product-card__delivery {
    margin: 0 10px 0 8px;
}